body {
  margin: auto;
  font-family: "Roboto";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem;
}

.localisation {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 3px #cecece solid;
}

.fa-map-marker-alt {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #353535;
  padding-right: 1rem;
}

h1 {
  font-size: 1.5rem;
}

h3, h2 {
  font-size: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

h2 {
  padding-top: 1rem;
  padding-left: 1.4rem;
}

h4 {
  font-size: 1rem;
  font-family: "Shrikhand";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.reservez {
  text-align: center;
  margin-bottom: 2rem;
}

.btnexplorer {
  text-align: center;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
  height: 50px;
  background: #e972da;
  background: linear-gradient(123deg, #e972da 0%, #a45bdc 100%);
  max-width: 13rem;
  margin: auto;
  border-radius: 25px 25px 25px 25px;
  color: white;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 2px 2px #b9bbba;
          box-shadow: 2px 2px 2px 2px #b9bbba;
}

.btnexplorer:hover {
  -webkit-box-shadow: 3px 3px 3px 3px #b9bbba;
          box-shadow: 3px 3px 3px 3px #b9bbba;
  opacity: 75%;
}

.menu {
  background-color: #f6f6f6;
  padding-bottom: 2rem;
}

.btnfonctionnement {
  position: relative;
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
  height: 76px;
  background-color: #f6f6f6;
  margin: 5%;
  border-radius: 25px 25px 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-shadow: 2px 2px 2px 2px #b9bbba;
          box-shadow: 2px 2px 2px 2px #b9bbba;
}

.btnfonctionnement:hover {
  background-color: #f5edff;
  cursor: pointer;
}

.btnfonctionnement:hover:hover, .btnfonctionnement:hover .fa-mobile-alt, .btnfonctionnement:hover .fa-list-ul, .btnfonctionnement:hover .fa-store {
  color: #9356dc;
  cursor: pointer;
}

.btnfonctionnement:hover:hover h3, .btnfonctionnement:hover .fa-mobile-alt h3, .btnfonctionnement:hover .fa-list-ul h3, .btnfonctionnement:hover .fa-store h3 {
  color: black;
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
  color: #7e7e7e;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 2rem;
}

.fa-mobile-alt:hover, .fa-list-ul:hover, .fa-store:hover {
  color: #9356dc;
  cursor: pointer;
}

.nounderline {
  text-decoration: none;
}

.restaurant {
  background-color: #f6f6f6;
}

.restobloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.restovignette {
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.vignettepalette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 15.63em;
  width: 20.88em;
  border-radius: 1em;
  -webkit-box-shadow: 2px 2px 2px 2px #b9bbba;
          box-shadow: 2px 2px 2px 2px #b9bbba;
  margin-bottom: 1rem;
  position: relative;
}

.vignettepalette:hover {
  opacity: 75%;
  -webkit-box-shadow: 3px 3px 3px 3px #b9bbba;
          box-shadow: 3px 3px 3px 3px #b9bbba;
}

.btnnouveau {
  position: absolute;
  background-color: #99e2d0;
  padding-top: 0.5rem;
  font-size: 1rem;
  width: 80px;
  height: 28px;
  color: #0a8d6d;
  top: 0.65rem;
  left: 15.2rem;
  font-weight: bold;
  text-align: center;
}

.btnnumero {
  position: absolute;
  font-size: 1rem;
  background-color: #9356dc;
  padding: 0.1rem;
  color: white;
  top: 28px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
}

.imgpalette {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  height: 11.25em;
  width: 20.88em;
  -o-object-fit: cover;
     object-fit: cover;
}

.textresto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1em;
  font-size: medium;
  color: black;
  text-decoration: none;
}

footer {
  background-color: #353535;
  padding-bottom: 1rem;
  position: relative;
}

ol {
  list-style-type: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
}

.fa-utensils {
  padding-right: 0.95rem;
}

.fa-hands-helping {
  padding-right: 0.5rem;
  size: 2rem;
}

.photoresto {
  height: 260px;
  margin: auto;
  width: 375px;
  position: absolute;
}

.backanimationbody {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 62px 1300px 200px;
      grid-template-rows: 62px 1300px 200px;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.animation {
  background-color: #f6f6f6;
  height: 90%;
  position: relative;
  top: 12rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 375px;
}

.h4annexe {
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-size: 1.4rem;
}

.btnmenu {
  overflow: hidden;
  position: relative;
  padding-top: 0.4rem;
  margin-left: 0.5rem;
  height: 68px;
  width: 348px;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 0.7rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 2px 2px 2px 2px #b9bbba;
          box-shadow: 2px 2px 2px 2px #b9bbba;
  cursor: pointer;
}

.btnmenu:hover .btnmenu {
  -webkit-animation: scale 1s;
          animation: scale 1s;
}

.btnmenu:hover .animationbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 78px;
  width: 60px;
  top: -70px;
  right: -348px;
  border-radius: 0px 20px 20px 0px;
  background-color: #99e2d0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: slide 1s forwards;
          animation: slide 1s forwards;
}

.btnmenu:hover .fa-check-circle {
  -webkit-animation: rotating 1s forwards;
          animation: rotating 1s forwards;
}

.btnmenu.opacity {
  -webkit-animation: opacity 0.5s;
          animation: opacity 0.5s;
}

.btnmenu.opacity1 {
  -webkit-animation: opacity 1s;
          animation: opacity 1s;
}

.btnmenu.opacity2 {
  -webkit-animation: opacity 1.5s;
          animation: opacity 1.5s;
}

.btnmenu.opacity3 {
  -webkit-animation: opacity 2s;
          animation: opacity 2s;
}

.btnmenu.opacity4 {
  -webkit-animation: opacity 2.5s;
          animation: opacity 2.5s;
}

.btnmenu.opacity5 {
  -webkit-animation: opacity 3s;
          animation: opacity 3s;
}

.btnmenu.opacity6 {
  -webkit-animation: opacity 3.5s;
          animation: opacity 3.5s;
}

.btnmenu.opacity7 {
  -webkit-animation: opacity 4s;
          animation: opacity 4s;
}

.btnmenu.opacity8 {
  -webkit-animation: opacity 4.5s;
          animation: opacity 4.5s;
}

.opacity9 {
  margin-top: 3rem;
  -webkit-animation: opacity 5s;
          animation: opacity 5s;
  width: 190px;
}

.opacitytitre1 {
  -webkit-animation: opacity 0.25s;
          animation: opacity 0.25s;
}

.opacitytitre2 {
  -webkit-animation: opacity 1.75s;
          animation: opacity 1.75s;
}

.opacitytitre3 {
  -webkit-animation: opacity 3.25s;
          animation: opacity 3.25s;
}

.titremenu {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #99e2d0;
  width: 40px;
}

.txtmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
  line-height: 180%;
  padding-left: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fa-check-circle {
  color: white;
  margin: auto;
}

.descriptiontxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  padding-right: 1rem;
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
}

@keyframes slide {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scaleX(348px);
            transform: scaleX(348px);
  }
  to {
    -webkit-transform: scaleX(288px);
            transform: scaleX(288px);
  }
}

@keyframes scale {
  from {
    -webkit-transform: scaleX(348px);
            transform: scaleX(348px);
  }
  to {
    -webkit-transform: scaleX(288px);
            transform: scaleX(288px);
  }
}
/*# sourceMappingURL=style.css.map */